<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>perc</servlet-name>
  	<servlet-class>com.rich.Convert</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>perc</servlet-name>
  	<url-pattern>/convert</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>div</servlet-name>
  	<servlet-class>com.rich.Percentage2Division</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>div</servlet-name>
  	<url-pattern>/Div</url-pattern>
  </servlet-mapping>
</web-app>